<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">



  <div style="width: 20px; height:20px; background-color: red;" *ngIf="appareilStatus === 'éteint' ; else dosnt_close"></div>
  <ng-template #dosnt_close>
    <div style="width: 20px; height:20px; background-color: green;"></div>
  </ng-template>
  <h4 [ngStyle]="{color: getColor()}" >Appareil: {{ appareilName }} --status : {{ getStatus() }}</h4>
  <input type="text" class="form-control" [(ngModel)]="appareilName" >
</li>